// based on the existing code
.banner-prefallmays-HLS .containerVideoPrefallmayHLSFresh {
	position: relative;
	// padding-bottom: 100%;//41.66%;
	height: 1080px;
	overflow: hidden;
	@include max-767 {
		height: 0;
		padding-bottom: 100%;
	}
}
.banner-prefallmays-HLS .videoPrefallmayHLSFresh {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -130%;
	width: 260%;// tmp tweak due to video aspect ratio
	height: 100%;
	@include max-767 {
		left: 0;
		margin-left: 0;
		width: 100%;
	}
}
.divContainerPrefallmayButton {
	padding: 25px 15px 30px;
	text-align: center;
	@include max-767 {
		padding: 2rem;
	}
}
.divContainerPrefallmayButton .h2PrefallmayMainTitle {
	margin-bottom: 15px;
}
