// based on https://andrejgajdos.com/custom-select-dropdown/

// nested in .form!
&__select {
  height: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 2px solid $gray-lite;
  &-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
  }
  &-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //padding: 0 10px;
    background: $gray-darkest;
    cursor: pointer;
  }
  &-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    background: $gray-select-dark;
    transition: all 0.2s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    #country & {
      height: 300px;
      overflow-y: scroll;
    }
  }
  &.open &-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  &-option {
    position: relative;
    display: block;
    padding: 10px 8px;
    color: $white;
    cursor: pointer;
    transition: all 0.5s;
  }
  &-option:hover {
    background-color: $gray-select-lite;
    cursor: pointer;
  }
  //&-option.selected {
  //  background-color: $gray-select-lite;
  //}
  &-arrow {
    position: relative;
    height: 15px;
    width: 15px;
    background: url("../img/icon-select-arrow-right.svg") center no-repeat;
  }
  .open &-arrow {
    background: url("../img/icon-select-arrow-down.svg") center no-repeat;
  }
}
