@import "../../../scss/_vars";

.status-popup {
	position: fixed;
	top: 50%;
	left: 25%;
	width: 50%;
	padding: 15px 30px 30px !important;
	background: $white;
	text-align: center;
	font-size: 18px !important;
	line-height: 1.3 !important;
	@include media-breakpoint-down(md) {
		width: 80%;
		left: 5%;
		padding: 30px 20px !important;
	}
	& h4 {margin-bottom: 0;}
	&:before, &:after {
		content: "";
		width: 100%;
		position: absolute;
		left: 0;
		display: block;
	}
	&:before{
		height: 5px;
		top: 0;
	}
	&:after{
		height: 10px;
		bottom: 0;
	}
	&_sent {
		& h4 {color: $dark-green;}
		&:before{
			background: $brand-lite-green;
		}
		&:after{
			background: $brand-green;
		}
	}
	&_send-error {
		& h4 {color: $brand-orange;}
		&:before{
			background: $brand-lite-orange;
		}
		&:after{
			background: $brand-orange;
		}
	}

}