{
	"presets": [[
		"@babel/preset-env", {
			"useBuiltIns": "entry"
		}],
		"@babel/preset-react"],
	"plugins": [
		["babel-plugin-styled-components",
			{
				"displayName": true,
				"fileName": false,
				"ssr": true,
				"transpileTemplateLiterals": true,
				"preprocess": false
			}
		]
	]
}
